            /* STYLE WEBSITE OUTLINE */
            *{
                margin: 0;
            }

            .wrapper{
                min-height: 100%;
                margin-bottom: -50px;
            }
            
            html {
                height: 100%;
                overflow: hidden;
            }

            body {
                height: 100%;
                overflow: auto;
            }


            /* STYLE HEADER */
            .header {
                text-align: center; 
                background-color: blue; 
                color: black;
                padding-bottom: 0.5%;
                height: 10%;
            }


            /* STYLE NAVBAR */
            .navbar {
                display: table;
                margin: 0 auto;
            }
            
            .navbar ul{
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
            
            .navbar ul li{
                float: left;
            }

            .navbar ul li a{
                height: 15px;
                color: black;
                text-decoration: none;
                display: block;
                padding: 15px;
                background-color: rgba(73,72,72,0.26);
            }

            .navbar ul li a:hover{
                background-color: rgba(73,72,72,0.829);
            }


            /* STYLE BODY */
            .body h1{
                text-align: center;
            }

            .body img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }


            /* STYLE DISCLAIMER */
            .disclaimer footer{
                text-align:center;
                background-color:red;
                height: 50px;
            }